In [99]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error
import joblib as joblib

In [100]:
df = pd.read_csv('G:/Data Engineering/Python/Machine Learning/ML Book/Dataset/Melbourne_housing_FULL.csv')

In [101]:
df.head(n=5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [102]:
del df['Address']
del df['Method']
del df['SellerG']
del df['Date']
del df['Postcode']
del df['Lattitude']
del df['Longtitude']
del df['Regionname']
del df['Propertycount']

In [103]:
print(df)

           Suburb  Rooms Type      Price  Distance  Bedroom2  Bathroom  Car  \
0      Abbotsford      2    h        NaN       2.5       2.0       1.0  1.0
1      Abbotsford      2    h  1480000.0       2.5       2.0       1.0  1.0
2      Abbotsford      2    h  1035000.0       2.5       2.0       1.0  0.0
3      Abbotsford      3    u        NaN       2.5       3.0       2.0  1.0
4      Abbotsford      3    h  1465000.0       2.5       3.0       2.0  0.0
...           ...    ...  ...        ...       ...       ...       ...  ...
34852  Yarraville      4    h  1480000.0       6.3       4.0       1.0  3.0
34853  Yarraville      2    h   888000.0       6.3       2.0       2.0  1.0
34854  Yarraville      2    t   705000.0       6.3       2.0       1.0  2.0
34855  Yarraville      3    h  1140000.0       6.3       NaN       NaN  NaN
34856  Yarraville      2    h  1020000.0       6.3       2.0       1.0  0.0

       Landsize  BuildingArea  YearBuilt               CouncilArea
0         126.0           NaN        NaN        Yarra City Council
1         202.0           NaN        NaN        Yarra City Council
2         156.0          79.0     1900.0        Yarra City Council
3           0.0           NaN        NaN        Yarra City Council
4         134.0         150.0     1900.0        Yarra City Council
...         ...           ...        ...                       ...
34852     593.0           NaN        NaN  Maribyrnong City Council
34853      98.0         104.0     2018.0  Maribyrnong City Council
34854     220.0         120.0     2000.0  Maribyrnong City Council
34855       NaN           NaN        NaN  Maribyrnong City Council
34856     250.0         103.0     1930.0  Maribyrnong City Council

[34857 rows x 12 columns]

In [104]:
df.dropna(axis = 0, how = 'any', thresh = None, subset = None, inplace = True)

In [105]:
df

,Suburb,Rooms,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea
2,Abbotsford,2,h,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council
4,Abbotsford,3,h,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council
6,Abbotsford,4,h,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council
11,Abbotsford,3,h,1876000.0,2.5,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra City Council
14,Abbotsford,2,h,1636000.0,2.5,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra City Council
...,...,...,...,...,...,...,...,...,...,...,...,...
34847,Wollert,3,h,500000.0,25.5,3.0,2.0,2.0,383.0,118.0,2016.0,Whittlesea City Council
34849,Wollert,3,h,570000.0,25.5,3.0,2.0,2.0,404.0,158.0,2012.0,Whittlesea City Council
34853,Yarraville,2,h,888000.0,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council
34854,Yarraville,2,t,705000.0,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council
34856,Yarraville,2,h,1020000.0,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council

In [106]:
features_df = pd.get_dummies(df,columns = ['Suburb','CouncilArea','Type'])

In [107]:
features_df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Suburb_Abbotsford,...,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Type_h,Type_t,Type_u
2,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,1,...,0,0,0,0,0,1,0,1,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,1,...,0,0,0,0,0,1,0,1,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,1,...,0,0,0,0,0,1,0,1,0,0
11,3,1876000.0,2.5,4.0,2.0,0.0,245.0,210.0,1910.0,1,...,0,0,0,0,0,1,0,1,0,0
14,2,1636000.0,2.5,2.0,1.0,2.0,256.0,107.0,1890.0,1,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,3,500000.0,25.5,3.0,2.0,2.0,383.0,118.0,2016.0,0,...,0,0,0,1,0,0,0,1,0,0
34849,3,570000.0,25.5,3.0,2.0,2.0,404.0,158.0,2012.0,0,...,0,0,0,1,0,0,0,1,0,0
34853,2,888000.0,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,0,...,0,0,0,0,0,0,0,1,0,0
34854,2,705000.0,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,1020000.0,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,0,...,0,0,0,0,0,0,0,1,0,0

In [108]:
del features_df['Price']

In [109]:
features_df

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Suburb_Abbotsford,Suburb_Aberfeldie,...,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Type_h,Type_t,Type_u
2,2,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,1,0,...,0,0,0,0,0,1,0,1,0,0
4,3,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,1,0,...,0,0,0,0,0,1,0,1,0,0
6,4,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,1,0,...,0,0,0,0,0,1,0,1,0,0
11,3,2.5,4.0,2.0,0.0,245.0,210.0,1910.0,1,0,...,0,0,0,0,0,1,0,1,0,0
14,2,2.5,2.0,1.0,2.0,256.0,107.0,1890.0,1,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,3,25.5,3.0,2.0,2.0,383.0,118.0,2016.0,0,0,...,0,0,0,1,0,0,0,1,0,0
34849,3,25.5,3.0,2.0,2.0,404.0,158.0,2012.0,0,0,...,0,0,0,1,0,0,0,1,0,0
34853,2,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,0,0,...,0,0,0,0,0,0,0,1,0,0
34854,2,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [110]:
X = pd.DataFrame(features_df)
Y = pd.DataFrame(df['Price'])

In [111]:
X

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Suburb_Abbotsford,Suburb_Aberfeldie,...,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Type_h,Type_t,Type_u
2,2,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,1,0,...,0,0,0,0,0,1,0,1,0,0
4,3,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,1,0,...,0,0,0,0,0,1,0,1,0,0
6,4,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,1,0,...,0,0,0,0,0,1,0,1,0,0
11,3,2.5,4.0,2.0,0.0,245.0,210.0,1910.0,1,0,...,0,0,0,0,0,1,0,1,0,0
14,2,2.5,2.0,1.0,2.0,256.0,107.0,1890.0,1,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,3,25.5,3.0,2.0,2.0,383.0,118.0,2016.0,0,0,...,0,0,0,1,0,0,0,1,0,0
34849,3,25.5,3.0,2.0,2.0,404.0,158.0,2012.0,0,0,...,0,0,0,1,0,0,0,1,0,0
34853,2,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,0,0,...,0,0,0,0,0,0,0,1,0,0
34854,2,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [112]:
Y

           Price
2      1035000.0
4      1465000.0
6      1600000.0
11     1876000.0
14     1636000.0
...          ...
34847   500000.0
34849   570000.0
34853   888000.0
34854   705000.0
34856  1020000.0

[8895 rows x 1 columns]

In [113]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [114]:
model = ensemble.GradientBoostingRegressor(
n_estimators = 150,
learning_rate = 0.1,
max_depth = 30,
min_samples_split = 4,
min_samples_leaf = 6,
max_features = 0.6,
loss = 'huber')
model.fit(X_train,np.ravel(Y_train))
joblib.dump(model,'house_trained_model.pkl')

['house_trained_model.pkl']

In [115]:
mse = mean_absolute_error(Y_train, model.predict(X_train))
print("Training Set Mean Absolute Error: %.2f" % mse)

mse = mean_absolute_error(Y_test, model.predict(X_test))
print("Training Set Mean Absolute Error: %.2f" % mse)

Training Set Mean Absolute Error: 29174.74
Training Set Mean Absolute Error: 162943.52